{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">


        <table>
            <tr>
                <td>
                    <h1>
                        {{ post.title }}
                    </h1>
                </td>
                {% if user.is_authenticated %}
                <td class="toolbar">
                        <p>
                            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                            {% if not post.published_date %}
                            <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
                            {% endif %}
                            <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-trash"></span></a>
                        </p>
                </td>
                {% endif %}
            </tr>
        </table>

        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endblock %}